/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    background-color: green;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.cabecalho p {
    text-align: center;
}


.titulo-principal {
    font-size: 32px;
    font-weight: bold;
    background-color: yellow;
}

.subtitulo {
    background-color: red;
}

.conteudo {
    background-color: aqua;
}
